:root {
    --sans-serif: system-ui, sans-serif;
    --monospace: "consolas", monospace;
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:active, :hover, :focus {
    outline: none; /* firefox fix */
}

html {
    height: 100%;
}

body {
    display: grid;
    height: 100%;
    font-family: var(--sans-serif);
    font-size: 1.04rem;
    background-color: var(--bg-3);
    background-image: var(--noise);
}
@media (max-width: 1023px) {
    body {
        grid-template-rows: 3rem 1fr;
        grid-template-areas: 
            "header" 
            "main";
    }
}
@media (min-width: 1024px) {
    body {
        grid-template-rows: 1.9rem 1fr;
    }
    body.login {
        grid-template-areas:
            "header"
            "main";
    }
    body.logged {
        grid-template-columns: 14rem 1fr;
        grid-template-areas:
            "aside header"
            "aside main";
    }
}

header {
    grid-area: header;
    display: grid;
    z-index: 777;
}

@media (max-width: 1023px) {
    body.logged header {
        grid-template-columns: 3rem 1fr;
        gap: 0.3rem;
    }
    body.mobile-menu-open header {
        background-color: var(--bg-3);
    }
}


@media (max-width: 1023px) {
    header .burger {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .menu-icon {
        width: 1.7rem;
        height: 0.75rem;
        position: relative;
        z-index:7;
    }
    .menu-icon span {
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        height: 0.13rem;
        transform: rotate(0);
        transition: transform 0.1s ease;
        background-color: var(--menu-icon-span);
    }
    .menu-icon span.line-1 {
          top: 0;
    }
    .menu-icon span.line-2 {
          bottom: 0;
    }
    .mobile-menu-open .menu-icon span.line-1 {
        top: 5px;
        transform: rotate(45deg);
    }
    .mobile-menu-open .menu-icon span.line-2 {
        top: 5px;
        transform: rotate(-45deg);
    }
}
@media (min-width: 1024px) {
    header .burger {
        display: none;
    }
}

header .menu {
    display: flex;
    justify-content: right;
}

header .menu > * {
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
    padding: 0 0.7rem 0 0.7rem;
    color: var(--link);
}

@media (max-width: 1023px) {
    header .menu > *:active {
        color: var(--header-menu-hover);
    }
}
@media (min-width: 1024px) {
    header .menu > *:hover {
        color: var(--header-menu-hover);
    }
}

/* Auth. Start */
.setup-auth {
    text-align: center;
    padding: 5px;
    font-size: 1rem;
}
.setup-error {
    display: flex;
    align-items: center;
	text-align: center;
	padding: 5px;
	font-size: 0.9rem;
    min-height: 4rem;
	color: red;
}

.aside-main {
    grid-area: main;
    display: grid;
    grid-template-areas: ". center-box .";
    grid-template-columns: 1fr minmax(auto,19rem) 1fr;
    overflow-y: auto;
}
.center-box {
    display: grid;
    grid-template-rows:auto auto auto auto 1fr auto;
    grid-area: center-box;
    gap: 1rem;
}

/* Select */
.lang-selector {
    padding: 0.5rem;
    box-shadow: 0 2px 3px 0 #00000033;
    border-radius: 0.3rem;
    background-color: var(--bg-4);
}

.login .lang-select-grid {
    text-align: left;
    position: relative;
    user-select: none;
    cursor: pointer;
}
.login .field-select  {
	background-color: var(--bg-3);
    font-size: 0.875rem;
    color: var(--windows-font);
    border-radius: 0.2rem;
    padding: 0 0.54rem;
    line-height: 2;
    height: 100%;
    background-repeat: no-repeat;
    background-position: right 0.37rem center;
    background-size: 16px 12px;
    background-image: var(--select-icon);
}
.login .lang-select-grid .field-options {
    display: grid;
    position: absolute;
    height: 0;
    overflow: hidden;
    width: 100%;
    border-radius: 0.25rem;
    box-shadow: 0 2px 3px 0 #00000033;
    max-height: 17rem;
    z-index: 777;
}
.login .lang-select-grid .field-options.open {
    background-color: var(--bg-3);
    border: 1px solid var(--bg-4);
    color: var(--text);
    overflow: auto;
    height: auto;
}
.login .lang-select-grid .field-options option {
    padding: 0.4rem 0.44rem;
    cursor: pointer;
    font-size: 0.9rem;
}
.login .lang-select-grid .field-options option:hover {
    background-color: var(--bg-2);
}


.setup-auth {
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
    color: var(--setup-auth);
}

.login-and-password {
    display: grid;
    padding: 10px 10px 10px 10px;
    background-color: var(--bg-4);
    box-shadow: 0 2px 3px 0 #00000033;
    border-radius: 0.25rem;
}
.login-and-password .login {
    position: relative;
}
.login-and-password .password {
    position: relative;
}
.login-and-password .login input, .login-and-password .password input {
    width: 100%;
    background-color: var(--bg-3);
    border: none;
    font-size: 1rem;
    color: var(--windows-font);
    padding: 0 8px;
    line-height: 2;
    min-height: 34px;
    position: relative;
}

.login-and-password .login input { 
    border-radius: 0.25rem 0.25rem 0 0;
    border-bottom: 1px solid var(--bg-4);
}
.login-and-password .password input {
    border-radius: 0 0 0.25rem 0.25rem;
    border-top: 1px solid var(--bg-4);
}
.login-and-password .login input:autofill, .login-and-password .password input:autofill {
    background-image: none;
}

.login-and-password .password div {
    position: absolute; 
    top: 0; 
    right: 0;
    cursor: pointer;
    height: 34px; 
    width: 37px;
    z-index: 7;
    background-size: 67%;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: var(--inter-icon);
}

.support-box {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}
.support-box a {
    font-size: 0.9rem;
    padding: 0.3rem 0.8rem;
    color: var(--windows-font);
    background-color: var(--bg-4);
    box-shadow: 0 2px 3px 0 rgb(0 0 0 / 20%);
    border-radius: 0.3rem;
    text-decoration: none;
}
/* Auth. End */

aside {
    overflow-y: auto;
    scrollbar-width: none; /* FireFox */
}
@media (max-width: 1023px) {
    aside {
        position: fixed;
        width: 14rem;
        min-height: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        transform: translate3d(-270px, 0, 0);
        transition: transform 0.25s ease;
        z-index: 700;
        padding: 3rem 0 3rem 0;
        background-color: var(--bg-3);
        background-image: var(--noise);
    }

    .mobile-menu-open aside {
        transform: translate3d(0, 0, 0);
    }
}
@media (min-width: 1024px) {
    aside {
        grid-area: aside;
        padding: 1.9rem 0 1.9rem 0;
    }
}

aside::-webkit-scrollbar {
    width: 0;
}


aside section {
    padding:9px 0 10px 0;
}
aside section div {
    padding: 5px 5px 5px 20px;
    font-size: 0.94rem;
    color: var(--aside-section-div);
}
aside section a {
    padding: 5px 5px 5px 36px;
    text-decoration: none;
    display: block; 
    font-size: 0.94rem;
    color: var(--aside-section-a);
}
@media (min-width: 1024px) {
    aside section a {
        border-radius: 0 0.3rem 0.3rem 0;
    }
}
aside section a:hover {
    background-color: var(--aside-section-a-hover);
}
aside section a.active {
    background-color: var(--aside-section-a-hover);
}
aside section a.red {
    background-color: var(--aside-section-a-red);
    
}

main {
    grid-area: main;
    overflow: hidden;
}

body > main > section:not(:target) {
    display: none !important;
}

/* Start Secion */
#start {
    overflow-y: auto;
    max-height: 100%;
}
@media (max-width: 1023px) {
    #start {
        padding: 1rem 0.4rem 1rem 0.4rem;
    }
}
@media (min-width: 1024px) {
    #start {
        padding: 1rem;
    }
}
#start > div {
    display: grid;
    gap: 1rem;
    box-shadow: 0 2px 3px 0 #00000033;
    border-radius: 0.3rem;
    background-color: var(--windows);
}
@media (max-width: 1023px) {
    #start > div {
        padding: 1rem 0.7rem 1.4rem 0.7rem;
    }
}
@media (min-width: 1024px) {
    #start > div {
        padding: 1rem;
    }
}
#start div > div {
    color: var(--windows-font);
}
#start div > p {
    color: var(--text);
}
#start div > p a {
    color: var(--link);
}
/* End */

/* Auth Start */
#auth {
    display: grid;
	height: 100%;
    overflow-y: auto;
    row-gap: 1rem;
    grid-auto-rows: max-content;
}
@media (max-width: 1023px) {
    #auth {
        padding: 1rem 0.4rem 1rem 0.4rem;
    }
}
@media (min-width: 1024px) {
    #auth {
        padding: 1rem;
    }
}
#auth form {
    display: grid;
    background-color: var(--windows);
    background-image: var(--noise);
    border-radius: 0.3rem;
    box-shadow: 0 2px 3px 0 #00000033;
}
@media (max-width: 1300px) {
    #auth form {
        row-gap: 10px;
        padding: 1rem 0.7rem 1.4rem 0.7rem;
    }
}
@media (min-width: 1301px) {
    #auth form {
        grid-auto-columns: max-content;
        grid-auto-flow: column;
        grid-column-gap: 1rem;
        justify-content: center;
        padding: 1rem;
    }    
}

#auth form > div {
    position: relative;
}

#auth form input {
    border-radius: 4px;
    font-size: 0.875rem;
    padding: 0 0.54rem;
    min-height: 35px;
    width: 100%;
    color: var(--input-font);
    background-color: var(--input-bg);
    border: 2px solid var(--input-border);
}


#auth input[type="submit"] {
    cursor: pointer;
}


#auth form .admin-url, #auth form .login-title, #auth form .passwd-title { 
    color: var(--windows-font);
}
@media (min-width: 1024px) {
    #auth form .admin-url, #auth form .login-title, #auth form .passwd-title { 
        display: grid;
        align-items: center;
    }
}
#auth form .password-eye {
    position: absolute;
    width: 23px;
    height: 23px;
    right: 3px;
    top: 50%;
    transform: translate(0%, -50%);
    cursor: pointer;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: var(--eye-icon);
}
#auth form .password-eye.showed {
    background-position-y: 100%;
}
@media (max-width: 1023px) {
    .current-sess {
        padding: 1rem 0 1rem 0;
    }
    .history-sess {
        padding: 1rem 0 1rem 0;
    }
}
#auth .table-title {
    padding: 0 0.5rem 0.5rem 0.7rem;
    color: var(--windows-font);
}
.sess-table {
    display: grid;
    gap: 5px;
}
.sess-table > div {
    color: var(--sess-table-font);
    background-color: var(--windows);
    background-image: var(--noise);
    border-radius: 0.3rem;
}
@media (max-width: 1023px) {
    .sess-table > div {
        display: block;
        padding: 0.4rem 0.3125rem 0.5rem 0.7rem;
    }
}
@media (min-width: 1024px) {
    .sess-table > div {
        display: grid;
        grid-auto-flow: column;
        column-gap: 3px;
        grid-template-columns: 2rem 10rem 8rem auto;
        padding: 0.3125rem;
    }
}
.sess-table .current {
    color: var(--sess-table-current);
}
#auth .del-sess {
    width: 1.6rem;
    height: 1.6rem;
    justify-self: center;
    cursor: pointer;
    border-radius: 4px;
    float: right;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 44%;
    background-image: var(--icon-clear);
}
#auth .del-sess:hover {
    background-color: var(--auth-del-sess-hover);
}
.sess-table > div > div {
    padding: 2px; 
    font-size: 0.875rem;
}
/* End */

/* PHP Info Start */
#phpinfo {color: var(--phpinfo-font); font-family: var(--sans-serif); overflow-y: scroll; height: 100%; padding: 1rem;}
@media (max-width: 1023px) {
    #phpinfo {padding: 0 0.4rem 0.4rem 0.4rem;}
    #phpinfo .e {word-break: break-word; min-width: 100px; max-width: 33%;}
    #phpinfo .h {word-break: break-word;}
    #phpinfo .v {word-break: break-word;}
}
@media (min-width: 1024px) {
    #phpinfo .e {min-width: 200px;width: 33%;}
    #phpinfo .v {word-break: break-word;}
}
#phpinfo td a img { display: none; }
#phpinfo pre {margin: 0; font-family: monospace;}
#phpinfo table {border-collapse: collapse; border: 0; width: 100%;}
#phpinfo .center {text-align: center;}
@media (min-width: 1024px) {#phpinfo .center table:first-child {margin-top: 0;}}
#phpinfo .center table {margin: 1rem auto; text-align: left;}
#phpinfo td, th {border: 1px solid var(--bg-4); font-size: 75%; vertical-align: baseline; padding: 4px 5px;}
#phpinfo th {position: sticky; top: 0; background-color: inherit;}
#phpinfo h1 {font-size: 150%;}
#phpinfo h2 {font-size: 125%;}
#phpinfo .p {text-align: left; margin: 0;}
#phpinfo .e {background-color: var(--bg-3); font-weight: bold; }
#phpinfo .h {background-color: var(--phpinfo-h-bg); font-weight: bold; }
#phpinfo .v {background-color: var(--bg-3); overflow-x: auto; }
#phpinfo .v i {color: var(--phpinfo-v-i-font);}
#phpinfo img {float: right; border: 0;}
#phpinfo hr {width: 100%; background-color: var(--phpinfo-hr-bg); border: 0; height: 1px;}
#phpinfo th { border-color: transparent;}
#phpinfo tr:hover td {background-color: var(--bg-2);}
/* End */


/* Modules */
#modules {
    display: grid;
    height: 100%;
    overflow-y: auto;
    grid-auto-rows: max-content;
    row-gap: 1rem;
}

@media (max-width: 1023px) {
    #modules {
        padding: 1rem 0.4rem 1rem 0.4rem;
        display: flex; /*Samsung Browser - padding-bottom*/
        flex-direction: column; /*Samsung Browser - padding-bottom*/
    }
    
}
@media (min-width: 1024px) {
    #modules {
        padding: 1rem;
    }
}

#modules > div {
    display: grid;
    row-gap: 0.3rem;
}

#module-upload {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

label[for=module-upload] {
	padding: 0.4rem 0.7rem 0.5rem 0.7rem;
	white-space: nowrap;
	cursor: pointer;
	border-radius: 0.3rem;
	color: var(--windows-font);
	background-color: var(--bg-4);
    width: max-content;
    font-size: 0.9rem;
}

#modules .modules-grid > div {
    display: grid;
    grid-template-areas:
        "module-name module-version"
        "module-description module-description"
        "module-sw-btn module-del-btn";
    grid-template-columns: 1fr auto;
    overflow: hidden;
    border-radius: 0.3rem;
    padding: 0.7rem;
    column-gap: 0.7rem;
    box-shadow: 0 2px 3px 0 #00000033;
    row-gap: 0.5rem;
    background-image: var(--noise);
}

#modules .modules-grid > div.enabled  {
    background-color: var(--windows);
}
@media (min-width: 1024px) {
    #modules .modules-grid > div.enabled:hover {
        background-color: var(--windows-hover);
    }
}

#modules .modules-grid > div.disabled {
    background-color: var(--modules-grid-div-disabled);
}
@media (min-width: 1024px) {
    #modules .modules-grid > div.disabled:hover {
        background-color: var(--modules-grid-div-disabled-hover);
    }
}

#modules .module-name {
    grid-area: module-name;
    margin-top: -5px;
    font-size: 1rem;
}
#modules .enabled .module-name {
    color: var(--windows-font);
}
#modules .disabled .module-name {
    color: var(--disabled-module);
}

#modules .module-version {
    grid-area: module-version;
    margin-top: -5px;
    font-size: 1rem;
    color: var(--text);
}
#modules .module-description {
    grid-area: module-description;
    font-size: 0.9rem;
}
#modules .enabled .module-description {
    color: var(--enabled-module-description);
}
#modules .disabled .module-description {
    color: var(--disabled-module);
}

#modules .module-del-btn {
    grid-area: module-del-btn;
    font-size: 0.9rem;
    color: var(--link);
    cursor: pointer;
    text-align: right;
}

#modules .module-sw-btn {
    grid-area: module-sw-btn;
    width: max-content;
    font-size: 0.9rem;
    user-select: none;
    cursor: pointer;
}
#modules .enabled .module-sw-btn {
    color: var(--link);
}
#modules .disabled .module-sw-btn {
    color: var(--disabled-module-sw-btn);
}
/* End */



/* Admin Menu */
#admin_menu {
    display: grid;
    height: 100%;
    overflow-y: auto;
    grid-auto-rows: max-content;
}

#admin_menu .main-main {
    display: grid;
    gap: 1rem;
}
@media (max-width: 1023px) {
    #admin_menu .main-main {
        padding: 1rem 0.7rem 0.3rem 0.7rem;
    }
}
@media (min-width: 1024px) {
    #admin_menu .main-main {
        padding: 1rem 1rem 0.3rem 1rem;
    }
}


@media (max-width: 1023px) {
    #admin_menu .main-footer {
        padding: 1rem 0.7rem 1rem 0.7rem;
    }
}
@media (min-width: 1024px) {
    #admin_menu .main-footer {
        padding: 1rem;
    }
}



#admin_menu [data-am-type="section"] {
    display: grid;
    column-gap: 1rem;
    row-gap: 0.7rem;
    background-color: var(--windows);
    background-image: var(--noise);
    border-radius: 0.3rem;
    position: relative;
    min-height: 4rem;
    overflow: hidden;
    padding: 0.7rem;
}

@media (max-width: 1023px) {
    #admin_menu [data-am-type="section"] {
        grid-template-areas:
            "title title sort"
            "save delete hide";
        grid-template-columns: 1fr auto auto;
    }
}
@media (min-width: 1024px) {
    #admin_menu [data-am-type="section"] {
        grid-template-areas:
            "title title  sort"
            "save  delete hide";
        grid-template-columns: 0.5fr 0.5fr auto;
    }
}

#admin_menu [data-am-type="section"].hidden::before {
    content: "";
    position: absolute;
    right: 2px;
    bottom: 2px;
    z-index: 1;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: var(--admin-menu-hidden-before);
}

#admin_menu .items-grid {
    display: grid;
    row-gap: 0.3rem;
    padding: 0.8rem 0 0.5rem 0.5rem;
    margin-top: -5px;
    background-color: var(--windows);
    border-radius: 0 0 0.3rem 0.3rem;
}

#admin_menu [data-am-type="section"] input[name=title] {
    grid-area: title;
    background-color: var(--menu-input-bg);
	border: 2px solid var(--menu-input-border);
}

#admin_menu [data-am-type="section"] [data-am-delete] {
    grid-area: delete;
    justify-self: right;
    width: max-content;
    cursor: pointer;
    font-size: 0.9rem;
    color: var(--buttons-font);
}
#admin_menu [data-am-type="section"] [data-am-delete]:hover {
    color: var(--buttons-hover);
}

#admin_menu [data-am-type="section"] input[name=sort] {
    grid-area: sort;
    width: 4rem;
    justify-self: right;
    text-align: center;
    background-color: var(--menu-input-bg);
	border: 2px solid var(--menu-input-border);
}
#admin_menu input {
    border-radius: 4px;
    min-height: 30px;
    height: 100%;
    background-color: var(--bg-4);
    border: 1px solid var(--bg-4);
    color: var(--text);
}
#admin_menu input {
    padding: 0 0.54rem;
    font-size: 0.94rem;
}


#admin_menu .section-select-grid {
    position: relative;
}
#admin_menu .field-select {
    border-radius: 4px;
    line-height: 26px;
    height: 100%;
    position: relative;
    cursor: pointer;
    user-select: none;
    background-color: var(--bg-4);
    border: 1px solid var(--bg-4);
    color: var(--text);
    padding: 0 1.8rem 0 0.54rem;
    font-size: 0.9rem;
    background-repeat: no-repeat;
    background-position: right 0.37rem center;
    background-size: 16px 12px;
    background-image: var(--select-icon);
}
#admin_menu .field-options {
    display: grid;
    position: absolute;
    height: 0;
    overflow: hidden;
    width: 100%;
    border-radius: 0.25rem;
    box-shadow: 0 2px 3px 0 #00000033;
    max-height: 17rem;
    z-index: 777;
}
#admin_menu .field-options.open {
    background-color: var(--bg-3);
    border: 2px solid var(--bg-4);
    color: var(--text);
    overflow: auto;
    height: auto;
    margin-top: 2px;
}
#admin_menu .field-options option {
    padding: 0.4rem 0.44rem;
    cursor: pointer;
    font-size: 0.9rem;
}
#admin_menu .field-options option:hover {
    background-color: var(--bg-2);
}


#admin_menu [data-am-type="section"] [data-am-save] {
    grid-area: save;
    width: max-content;
    cursor: pointer;
    font-size: 0.9rem;
    color: var(--buttons-font);
}
#admin_menu [data-am-type="section"] [data-am-save]:hover {
    color: var(--buttons-hover);
}

#admin_menu [data-am-type="section"] [data-am-sw] {
    grid-area: hide;
    width: max-content;
    cursor: pointer;
    font-size: 0.9rem;
    color: var(--buttons-font);
}
#admin_menu [data-am-type="section"] [data-am-sw]:hover {
    color: var(--buttons-hover);
}





.am-grid {
    display: grid;
    row-gap: 1rem;
}

.am-grid > div {
    box-shadow: 0 0 3px 0 #00000096;
    border-radius: 0.3rem;
}

#admin_menu .add-section {
    display: block;
    width: max-content;
    padding: 0.4rem 0.7rem 0.5rem 0.7rem;
    background-color: var(--bg-4);
    text-decoration: none;
    font-size: 0.9rem;
    color: var(--windows-font);
    border-radius: 0.3rem;
    cursor: pointer;
}


#admin_menu [data-am-type="item"] {
    display: grid;
    column-gap: 1rem;
    row-gap: 0.7rem;
    background-color: var(--bg-3);
    background-image: var(--noise);
    border-radius: 0.3rem 0 0  0.3rem;
    position: relative;
    min-height: 4rem;
    padding: 0.7rem;
}
#admin_menu [data-am-type="item"].hidden::before {
    content: "";
    position: absolute;
    right: 2px;
    bottom: 2px;
    z-index: 1;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: var(--orange);
}
@media (max-width: 1023px) {
    #admin_menu [data-am-type="item"] {
        grid-template-areas:
            "item-name select select sort"
            "save      save   reset  sw";
        grid-template-columns: 1fr 1fr auto auto;
    }
}
@media (min-width: 1024px) {
    #admin_menu [data-am-type="item"] {
        grid-template-areas:
            "item-name select sort"
            "save      reset sw";
        grid-template-columns: 1fr auto auto;
    }
}

#admin_menu .item-name {
    grid-area: item-name;
    font-size: 1rem;
    align-self: center;
    margin-top: -5px;
    color: var(--aside-section-a);
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
}
#admin_menu select {
    grid-area: select;
}
#admin_menu [data-am-type="item"] input[name=sort] {
    grid-area: sort;
    width: 4rem;
    justify-self: right;
    text-align: center;
}

#admin_menu [data-am-type="item"] [data-am-save] {
    grid-area: save;
    width: max-content;
    cursor: pointer;
    font-size: 0.9rem;
    color: var(--buttons-font);
}
#admin_menu [data-am-type="item"] [data-am-save]:hover {
    color: var(--buttons-hover);
}
#admin_menu [data-am-type="item"] [data-am-reset] {
    grid-area: reset;
    justify-self: right;
    width: max-content;
    cursor: pointer;
    font-size: 0.9rem;
    color: var(--buttons-font);
}
#admin_menu [data-am-type="item"] [data-am-reset]:hover {
    color: var(--buttons-hover);
}
#admin_menu [data-am-type="item"] [data-am-sw] {
    grid-area: sw;
    width: max-content;
    cursor: pointer;
    font-size: 0.9rem;
    color: var(--buttons-font);
}
#admin_menu [data-am-type="item"] [data-am-sw]:hover {
    color: var(--buttons-hover);
}
/* End */



@media (max-width: 1023px) {
    .mobile-menu-open .milk {
        display: block;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: 0.7;
        z-index: 10;
        background-color: var(--mobile-menu-open-milk);
    }
}

/* Service Messages */
.log-info-box {
    position: fixed;
    z-index: 770;
    display: inline-grid;
}
@media (max-width: 1023px) {
    .log-info-box {
        top: 3rem;
        right: 0.3rem;
    }
}
@media (min-width: 1024px) {
    .log-info-box {
        top: 2.5rem;
        right: 0.3rem;
    }
}

.log-info-box > div {
    padding: 15px;
    font-size: 0.875rem;
    margin-bottom: 10px;
    border-radius: 5px;
    justify-self: right;
}

.info-success {
    background-color: var(--info-success);
    color: var(--info-fonts-success);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
}
.info-success a {
    color: var(--info-fonts-success);
}

.info-error {
    background-color: var(--info-error);
    color: var(--info-fonts-error);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
}
.info-error a {
    color: var(--info-fonts-error);
}
.log-info-box > .timeout {
    overflow: hidden;
    height: 0 !important;
    transition: height 0.5s, opacity 0.2s, padding 0.5s, margin 0.5s;
    opacity: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}


/* Checks */
input[type="checkbox"] {
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 0.25rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    appearance: none;
    border: 2px solid;
    background-color: var(--bg-3);
    border-color: var(--bg-4);
    cursor: pointer;
}
input[type="checkbox"]:checked {
    background-color: var(--orange);
    border-color: var(--orange);
    box-shadow: 0 0 0 0.25rem var(--focus-orange);
    background-image: var(--check-icon);
}

/* Buttons */
button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.44rem 0.74rem 0.37rem 0.74rem;
    min-height: 35px;
    border-radius: 0.25rem;
    background-color: var(--button-bg);
    border: 1px solid var(--button-border);
    color: var(--windows-font);
    font-size: 0.875rem;
    cursor: pointer;
}

.CodeMirror-dialog button {
    display: inline-block;
    padding: 0px 10px 1px;
    min-height: auto;
}