html.light {
    color-scheme: light;  /*Scroll*/
    /*Colors*/
    /*Backgrounds Universal*/
    --bg-2: #f8f2f2;
    --bg-3: #e9e0dd;
    --bg-4: #fffbfb;
    --bg-5: #e9e0dd;

    /*Border Mediateka*/
    --w-1: #ffffff;
    --br-3: #fbf0ed;
    --br-active: #a79080;
    --file-input: #1e1d1d;
    --file-border: #383433;
    --font-bg: #e9e0dd;
    --ext: #8f572f;
    /*End*/

    /*Colors*/
    --white: #ffffff;
    --black: #000000;
    --orange: #ff4e00;
    --green-3: #71b300;
    --changes: #ea8000;

    --focus-orange: #ff4d0021;
    --saved-bg: #ddffab;
    /*End*/

    --windows: #f7efee;
    --windows-hover: #fbf5f5;
    --windows-font: #604c44;

    --input-bg: var(--bg-4);
    --input-border: #c9bfbc;
    --input-font: var(--text);
    --button-bg: var(--bg-4);
    --button-border: var(--bg-4);
    /*End*/

    /*Modules Universal Properties*/
    --buttons-font: #604c44;
    --buttons-hover: #93614e;
    --buttons-open: #c12a1b;

    --link: #764646;
    --link-hover: #bb381a;
    --link-none: #7a7a7a;

    --names: #4f3b58;
    --text: #333333;
    /*End*/
    
    /*Admin-Header*/
    --header-menu-hover: #9b2e00;
    --menu-icon-span: #c33b00;

    /*Admin-Info-Notice*/
    --info-success: #4c3a36bf;
    --info-error: #940002c4;
    --info-fonts-success: #ffffff;
    --info-fonts-error: #ffffff;

    /*Admin-Aside*/
    --aside-section-div: #8f786f;
    --aside-section-a: #382218;
    --aside-section-a-hover: #fffbfb91;
    --aside-section-a-active: #fffbfb91;
    --aside-section-a-red: #ff8585;
    
    /*Admin-Modul-Auth*/
    --setup-auth: #b5978e;
    --sess-table-font: #52473d;
    --sess-table-current: #008917;
    --auth-del-sess-hover: var(--bg-4);

    /*Milk*/
    --mobile-menu-open-milk: #18101071;

    /*Template*/
    --template-files-file: #563d40;
    --template-files-file-hover: #9b4d4d;

    /*Admin Menu*/


    /*PHP Info*/
    --phpinfo-font: #563939;
    --phpinfo-h-bg: #d7cac7;
    --phpinfo-v-i-font: #b39393;
    --phpinfo-hr-bg: #615858;

    /*Pages*/
    --page-search: #f7efee;
    
    --add-page-btn-hover: var(--bg-4);
    --add-page-btn-svg-b-plus: #9b8b84;
    --saved: #157800;
    --error: #e20000;

    --del-pages-btn-svg: #9b8b84;

    --pages-grid-div-open: #e1d6d2;
    --pages-grid-div-open-shadow: #b9a097;

    --page-date: #8d5f4b;
    --page-date-planned: #cf390c;

    --main-footer-pager-div-hover: #bb381a;
    --main-footer-pager-div-active-font: #bb381a;
    --pages-main-footer-pager-div-bg-active: #d5bfaeeb;

    --lbox-window: #000000dd;

    /*Tags*/
    --tags-bg: #f9f4f4;
    --tags-font: #958484;

    /*Codemirror*/
    --codemirror-bg: white;
    --codemirror-text: black;
    --codemirror-numbeslines: #897067;
    --codemirror-numbes-bg: #343232;

    /*Menu*/
    --open-menu: #e1d6d2;
    --menu-menu-open-prop: var(--buttons-open);

    --menu-input-bg: var(--w-1);
    --menu-input-border: var(--bg-3);

    --menu-item-bg-hover-open: var(--windows);

    --menu-item-a: var(--link);
    --menu-item-a-hover: var(--link-hover);
    --menu-item-a-none-link: var(--link-none);

    --menu-item-open-prop: var(--buttons-open);

    --menu-menu-buttons-div: var(--buttons-font);
    --menu-menu-buttons-div-hover: var(--buttons-hover);

    --menu-input-select-font-disabled: #746c6a;

    --menu-item-select-dropdown-font: #333333;
    --menu-item-field-search-input-bg: var(--bg-4);
    --menu-item-field-search-input-focus: #786050;
    --menu-item-list-search-li-hover-active: var(--bg-4);

    
    /*Modules*/
    --modules-grid-div-disabled: #f3f3f3;
    --modules-grid-div-disabled-hover: #f3f3f3;
    --disabled-module: #a39595;
    --disabled-module-description: #a39595;
    --disabled-module-sw-btn: #3400d5;
    --shadow: #00000030;

    /*Individual*/
    --category-parents: #918383;

    /*Icons*/
    --search-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 489.68 489.68'%3E%3Cdefs%3E%3Cstyle%3E.a-search%7Bfill:%239b8b84;%7D%3C/style%3E%3C/defs%3E%3Cpath class='a-search' d='M0,196.4C0,304.9,88,392.83,196.5,392.8A196.53,196.53,0,0,0,320.1,349l135,135A20.44,20.44,0,0,0,484,455.1l-135-135c68.29-84.31,55.3-208-29-276.3A196.42,196.42,0,0,0,196.4,0C88,0,0,87.9,0,196.4Zm40.8,0A155.6,155.6,0,1,1,196.4,352h0A155.66,155.66,0,0,1,40.8,196.4Z'/%3E%3C/svg%3E");

    --select-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23b9a097' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");

    --pages-pin-off: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 16.46'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:none;%7D.b%7Bfill:none;stroke:%23b9a097;stroke-miterlimit:10;stroke-width:2px;%7D%3C/style%3E%3C/defs%3E%3Cpolygon class='a' points='1 0 1 14.72 7 11.22 13 14.72 13 0 1 0'/%3E%3Cpolyline class='b' points='1 0 1 14.72 7 11.22 13 14.72 13 0'/%3E%3C/svg%3E");

    --pages-pin-on: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 16.46'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23b9a097;%7D%3C/style%3E%3C/defs%3E%3Cpolygon class='a' points='14 16.46 7 12.38 0 16.46 0 0 14 0 14 16.46'/%3E%3C/svg%3E");

    --check-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");

    --eye-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 64'%3E%3Cdefs%3E%3Cstyle%3E.a-eyeonoff%7Bfill:none;%7D.b-eyeonoff%7Bfill:%23b9a097;%7D%3C/style%3E%3C/defs%3E%3Crect class='a-eyeonoff' y='32' width='32' height='32'/%3E%3Cpath class='b-eyeonoff' d='M14.11,41.28l2.07,2.07a3.54,3.54,0,0,1,3.36,3.36l2.06,2.06a5.17,5.17,0,0,0,.4-1.86,6,6,0,0,0-6-6A5.82,5.82,0,0,0,14.11,41.28Z' transform='translate(0)'/%3E%3Cpath class='b-eyeonoff' d='M16,39.63a12.91,12.91,0,0,1,11.67,7.28,12.87,12.87,0,0,1-3.52,4.4L26,53.19a15.56,15.56,0,0,0,4.54-6.27A15.69,15.69,0,0,0,16,37a15.26,15.26,0,0,0-5.26.93L12.86,40A14.41,14.41,0,0,1,16,39.63Z' transform='translate(0)'/%3E%3Cpath class='b-eyeonoff' d='M21.86,52.77,20.2,51.11l-1.68-1.68-5-5L11.79,42.7,10.13,41l-2-2L4.49,35.41,2.62,37.27,6,40.62a15.74,15.74,0,0,0-4.52,6.29A15.66,15.66,0,0,0,16,56.83a15.28,15.28,0,0,0,5.27-.93L27,61.59l1.87-1.86-5-5Zm-6-2.3A3.54,3.54,0,0,1,12.5,47.1ZM16,54.18A13,13,0,0,1,4.32,46.91,13,13,0,0,1,7.84,42.5L10.37,45A5.68,5.68,0,0,0,10,46.91a5.93,5.93,0,0,0,7.88,5.62l1.26,1.26A13.84,13.84,0,0,1,16,54.18Z' transform='translate(0)'/%3E%3Crect class='a-eyeonoff' width='32' height='32'/%3E%3Cpath class='b-eyeonoff' d='M16,9A6,6,0,1,0,22,15.05V15A6,6,0,0,0,16,9Zm0,9.53a3.58,3.58,0,1,1,3.57-3.59v0A3.57,3.57,0,0,1,16,18.48Z' transform='translate(0)'/%3E%3Cpath class='b-eyeonoff' d='M16,5A15.65,15.65,0,0,0,1.44,14.91a15.65,15.65,0,0,0,29.12,0A15.65,15.65,0,0,0,16,5Zm0,17.2A12.94,12.94,0,0,1,4.33,14.91a13,13,0,0,1,23.34,0A12.93,12.93,0,0,1,16,22.18Z' transform='translate(0)'/%3E%3C/svg%3E");

    --inter-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 31.5 31.5'%3E%3Cdefs%3E%3Cstyle%3E.a,.b%7Bfill:none;%7D.a%7Bstroke:%23d09074;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;%7D%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M404.15,357.31l6-6-6-6' transform='translate(-386.5 -335.5)'/%3E%3Cline class='a' x1='7.75' y1='15.75' x2='22.75' y2='15.75'/%3E%3Ccircle class='a' cx='15.75' cy='15.75' r='14'/%3E%3Crect class='b' width='31.5' height='31.5'/%3E%3C/svg%3E");

    --icon-close: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 37.47 37.61'%3E%3Cdefs%3E%3Cstyle%3E.a,.b%7Bfill:none;stroke:%239b8b84;stroke-linecap:round;stroke-width:5px;%7D.b%7Bstroke-linejoin:round;%7D%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M4.17,18.91H35.22' transform='translate(-0.25 -0.1)'/%3E%3Cpolyline class='b' points='18.81 35.12 2.5 18.81 18.81 2.5'/%3E%3C/svg%3E");

    --icon-clear: url("data:image/svg+xml,%0A%3Csvg version='1.1' viewBox='0 0 37.819 37.819' xmlns='http://www.w3.org/2000/svg'%3E%3Cstyle%3E.a-clear%7Bfill:none;stroke-linecap:round;stroke-width:5;stroke:%239b8b84%7D%3C/style%3E%3Cg transform='translate(-32.072 -86.124)'%3E%3Cpath class='a-clear' d='m32.34 86.392 37.284 37.284'/%3E%3Cpath class='a-clear' d='m69.624 86.392-37.284 37.284'/%3E%3C/g%3E%3C/svg%3E");

    --icon-clear-wb: url("data:image/svg+xml,%0A%3Csvg version='1.1' viewBox='0 0 37.819 37.819' xmlns='http://www.w3.org/2000/svg'%3E%3Cstyle%3E.a-clear%7Bfill:none;stroke-linecap:round;stroke-width:5;stroke:%23ffffff%7D%3C/style%3E%3Cg transform='translate(-32.072 -86.124)'%3E%3Cpath class='a-clear' d='m32.34 86.392 37.284 37.284'/%3E%3Cpath class='a-clear' d='m69.624 86.392-37.284 37.284'/%3E%3C/g%3E%3C/svg%3E");

    --icon-save: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 769.83 769.83'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:none;stroke:%239b8b84;stroke-miterlimit:10;stroke-width:55px;%7D%3C/style%3E%3C/defs%3E%3Ccircle class='a' cx='384.91' cy='384.91' r='102.48'/%3E%3Cpath class='a' d='M750.91,258.62V687.83a63.08,63.08,0,0,1-63.08,63.08H89.17a63.08,63.08,0,0,1-63.08-63.08h0V89.17A63.08,63.08,0,0,1,89.17,26.09H518.38A98.74,98.74,0,0,1,588.17,55L722,188.83A98.74,98.74,0,0,1,750.91,258.62Z' transform='translate(-3.59 -3.59)'/%3E%3Cpath class='a' d='M464.15,26.09V129.44A46.11,46.11,0,0,1,418,175.55H187.48a46.11,46.11,0,0,1-46.11-46.11V26.09' transform='translate(-3.59 -3.59)'/%3E%3C/svg%3E");

    --noise: url(../img/noise-light.png);
}