html.dark {
    color-scheme: dark; /*Scroll*/
    /*Colors*/
    /*Backgrounds Universal*/
    --bg-3: #1e1d1d;
    --bg-4: #383433;

    --windows: #191919;
    --windows-font: #d5bfae;
    --manual: #4d4848;
    --manual-div: #ffe2cc;
    --manual-font: #e7e7e7;
    --manual-font-p-a: #ffe2cc;

    --input-bg: var(--bg-4);
    --input-bg-border: var(--bg-4);
    --input-bg-font: #dadada;

    --select-bg: var(--bg-4);
    --select-bg-border: var(--bg-4);
    --select-bg-font: #dadada;

    --saved-bg: #405200;
    /*End*/

    /*Modules Universal Properties*/
    --buttons-font: #a79080;
    --buttons-hover: #e9c3a6;
    --buttons-open: #e4845a;

    --link: #d09074;
    --link-hover: #ffcab3;
    --link-none: #d5bdac;

    --names: #ffe2cc;
    --text: #dadada;
    /*End*/

    /*Admin*/
    --bg-login: #383433;

    /*Admin-Lang*/
    --login-windows: #1e1d1d;
    --lang-selector: var(--login-windows);
    --lang-selector-select: #191919;
    --lang-selector-select-font: #cbb5a1;

    /*Admin-Login*/
    --login-and-password: var(--login-windows);
    --login-and-password-input: #191919;
    --login-and-password-input-border: var(--login-windows);
    --login-and-password-input-font: #cbb5a1;

    /*Admin-Login-Support*/
    --support-box-font: #cbb5a1;
    --support-box-a-hover: #e2cab3;
    --support-box-bg: var(--login-windows);
    
    /*Admin-Header*/
    --header: #191919;
    --icon-coffee: #564c44;
    --logo: #111111;
    --name: #CCCCCC;
    --header-menu: #a7a7a7;
    --header-menu-hover: #e4845a;
    --menu-icon-span: #d09074;

    /*Admin-Info-Notice*/
    --info-success: #e9e0ddcc;
    --info-error: #940002c4;
    --info-fonts-success: #000000;
    --info-fonts-error: #ffffff;

    /*Admin-Aside*/
    --aside: var(--bg-3);
    --aside-section-line: var(--bg-4);
    --aside-section-div: #8f786f;
    --aside-section-a: #eabca9;
    --aside-section-a-hover: var(--bg-4);
    --aside-section-a-active: var(--bg-4);
    --aside-section-a-red: #9f2624;

    /*Admin-Main*/
    --main: var(--bg-4);
    
    /*Admin-Modul-Auth*/
    --auth-form: var(--windows);

    --setup-auth: #b5978e;
    --auth-form-login-password-title: var(--windows-font);

    --auth-form-input: var(--input-bg);
    --auth-form-input-border: var(--input-bg-border);
    --auth-form-input-font: var(--input-bg-font);

    --auth-table-title: #d5bfae;
    --sess-table-div: #2c2a2a;
    --sess-table-font: #b3aaa3;
    --sess-table-current: #78ca78;
    --auth-del-sess: #4a4242;
    --auth-del-sess-hover: #ab2727;

    /*Start*/
    --start-div: var(--manual);
    --start-div-div: var(--manual-div);
    --start-div-p: var(--manual-font);
    --start-div-p-a: var(--manual-font-p-a);

    /*Milk*/
    --mobile-menu-open-milk: #18101071;


    /*Template*/
    --template-form: var(--windows);
    --template-form-div: #d09074;

    --template-form-select: var(--select-bg);
    --template-form-select-font: var(--select-bg-font);
    --template-form-select-border: var(--select-bg-border);

    --template-form-input: var(--input-bg);
    --template-form-input-font: var(--input-bg-font);
    --template-form-input-border: var(--input-bg-border);

    --template-template-manual: var(--manual);
    --template-template-manual-div: var(--manual-div);
    --template-template-manual-font: var(--manual-font);
    --template-template-manual-p-a: var(--manual-font-p-a);

    --template-template-files: var(--windows);
    --template-files-title: #d09074;
    --template-files-file: #a38174;
    --template-files-file-hover: #c49b8c;

    /*Counters*/
    --counters-form-div: #d5bfae;

    /*Admin Menu*/
    --admin-menu-section: var(--windows);
    --admin-menu-hidden-before: orangered;

    --admin-menu-items-grid: #554944;
    --admin-menu-item: var(--bg-3);
    --admin-menu-item-name: var(--aside-section-a);

    --admin-menu-buttons: var(--buttons-font);
    --admin-menu-buttons-hover: var(--buttons-hover);

    --admin-menu-add-section: var(--bg-3);
    --admin-menu-add-section-font: #ffe2cc;
    --admin-menu-add-section-hover: #191919;

    --admin-menu-input-select: var(--bg-4);
    --admin-menu-input-select-border: var(--bg-4);
    --admin-menu-input-select-font: var(--text);

    /*Base*/
    --base-db-settings: var(--windows);

    --base-form-div-div: var(--windows-font);
    --base-create: #d09074;

    --base-form-input: var(--bg-4);
    --base-form-input-border: var(--bg-4);
    --base-form-input-font: var(--text);
    
    --base-db-manual: var(--manual);
    --base-db-manual-div: var(--manual-div);
    --base-db-manual-font: var(--manual-font);
    --base-db-manual-p-a: var(--manual-font-p-a);

    --base-manual: var(--manual);
    --base-manual-div: var(--manual-div);
    --base-manual-font: var(--manual-font);
    --base-manual-p-a: var(--manual-font-p-a);

    --counters-textarea: var(--bg-4);
    --counters-textarea-border: #584f4f;
    --counters-textarea-font: var(--text);

    --counters-input: var(--bg-4);
    --counters-input-border: var(--bg-4);
    --counters-input-font: #ffe2cc;

    /*Backup*/
    --update-backup-window-bg: var(--windows);
    --update-backup-window-div: #d09074;
    --update-backup-window-font: #ff7045;
    --update-backup-window-p-a: #ffe2cc;

    --update-update-window-bg: var(--windows);
    --update-update-window-div: #d09074;
    --update-update-window-font: #d5bfae;
    --update-update-window-p-a: #ffe2cc;

    --update-dev-window-bg: var(--windows);
    --update-dev-window-div: #d09074;
    --update-dev-window-font: #e7e7e7;
    --update-dev-window-p-a: #ffe2cc;

    --backup-form-button-font: #ffe2cc;
    --backup-form-button: #383433;

    /*PHP Info*/
    --phpinfo-font: #a38173;
    --phpinfo-td-th-border: #373434;
    --phpinfo-e-bg: #1e1d1d;
    --phpinfo-h-bg: #373434;
    --phpinfo-v-bg: #2e2525;
    --phpinfo-v-i-font: #b39393;
    --phpinfo-hr-bg: #615858;
    --phpinfo-tr-hover-td-bg: #1b1919;

    /*Pages*/
    --page-search: var(--bg-3);
    --page-search-border: var(--bg-3);
    --page-search-font: var(--text);

    --add-page-btn: var(--bg-3);
    --add-page-btn-hover: #181717;
    --add-page-btn-svg-b-plus: #9b8b84;
    --saved: #87d94f;
    --error: #a00000;

    --del-pages-btn-hover-active: var(--bg-3);
    --del-pages-btn-svg: #9b8b84;

    --pages-grid-div: var(--bg-3);
    --pages-grid-div-hover: #181717;
    --pages-grid-div-open: #181717;
    --pages-grid-div-open-shadow: #b26044;

    --pages-grid-div-last-edited-before: #5d7d25;

    --page-buttons-div: var(--buttons-font);
    --page-buttons-div-hover: var(--buttons-hover);
    --page-buttons-div-open: var(--buttons-open);
    --page-buttons-div-open-saved: var(--saved);

    --a-page-name: var(--link);
    --a-page-name-hover: var(--link-hover);

    --page-prop-div: var(--names);

    --page-prop-input-textarea-select: var(--bg-4);
    --page-prop-input-textarea-select-border: var(--bg-4);
    --page-prop-input-textarea-select-font: var(--text);

    --pages-grid-div-input: var(--bg-3);
    --pages-grid-div-input-border: var(--bg-4);

    --page-date: #9b8b84;
    --page-date-planned: #ffe4c4;

    --pages-grid-div-input-checked: #ff4e00;
    --pages-grid-div-input-checked-border: #ff4e00;
    --pages-grid-div-input-checked-focus: #e8754312;

    --pages-main-footer-pager-div-bg:  var(--bg-3);
    --pages-main-footer-pager-div-font: #cccccc;
    --main-footer-pager-div-hover: #d09074;
    --main-footer-pager-div-active-font: #ffcab3;
    --pages-main-footer-pager-div-bg-active: #e875432e;

    --pages-counters-input: var(--bg-3);
    --pages-counters-input-border: var(--bg-3);
    --pages-counters-input-font: #cccccc;
    --pages-counters-span: #cccccc;
    
    --page-editor-grid: var(--bg-3);

    --open-mediateka: #89d3be;
    --open-mediateka-hover: #5ee0bb;




    --page-editor-header-a: #d09074;
    --page-editor-header-a-hover: #ffcab3;

    --uni-editor: #a79080; /*Uni*/
    --uni-editor-hover: #e4845a; /*Uni*/

    --page-editor-buttons-a: var(--uni-editor);
    --page-editor-buttons-a-hover: var(--uni-editor-hover);

    --codemirror-replace: var(--uni-editor);
    --codemirror-replace-hover: var(--uni-editor-hover);



    --file-block: #111111;
    --file-block-border: #333333;
    --file-block-border-hover: #a79080;
    --file-block-border-active-file: #a79080;

    --file-block-input: #1e1d1d;
    --file-block-input-border: #383433;

    --file-block-input-checked: #ff4e00;
    --file-block-input-checked-border: #ff4e00;

    --file-block-media-name: #cccccc;

    --file-block-ext: #383433;
    --file-block-ext-font: #e9c3a6;

    --uni-mediateka: #191919; /*Uni*/
    --mediateka-buttons-inputfile-label: var(--uni-mediateka);
    --mediateka-buttons-inputfile-label-font: #a79080;
    --mediateka-buttons-inputfile-label-focus-hover: #111111;

    --link-file: var(--uni-mediateka);
    --link-file-font: #ffe2cc;
    --link-file-a: #d09074;

    --link-file-copy-btn: #383433;
    --link-file-copy-btn-font: #ffe4c4;
    --link-file-copy-btn-hover: #564c44;

    --del-uploaded-files-disabled: var(--uni-mediateka);
    --del-uploaded-files-disabled-font: #424b54;
    --del-uploaded-files: #ff4e00;
    --del-uploaded-files-hover: #9c380d;
    --del-uploaded-files-font: #eaeaea;


    --lbox-window: #000000dd;

    /*Tags*/
    --tags-bg: #282525;
    --tags-font: darkgray;

    /*Pages Codemirror*/
    --codemirror-bg: #302c2c;
    --codemirror-text: #EEFFFF;

    --codemirror-numbeslines: #897067;
    --codemirror-numbes-bg: #343232;


    /*Sitemap*/
    --xml-wrapper-areas: var(--windows);
    --xml-wrapper-areas-div: var(--windows-font);

    --sitemap-textarea-bg: var(--bg-4);
    --sitemap-textarea-border: #584f4f;
    --sitemap-textarea-font: #cccccc;

    --sitemap-form-input-font: #ffe2cc;
    --sitemap-form-input-bg: var(--bg-4);
    --sitemap-form-input-border: var(--bg-4);

    --xml-static-cron-font: #cccccc;
    --xml-static-dynamic-input-font: #cccccc;

    --xml-static-dynamic-label-input-checked-bg: #ff4e00;
    --xml-static-dynamic-label-input-checked-border: #ff4e00;
    --xml-static-dynamic-label-input-checked-shadow: rgb(255 78 0 / 25%);
    --xml-static-dynamic-label-input: var(--bg-4);

    --xml-static-dynamic-label-font: #e18963;

    --sitemap-manual: var(--manual);
    --sitemap-manual-div: var(--manual-div);
    --sitemap-manual-font: var(--manual-font);

    /*Menu*/
    --menu-menu-bg: var(--windows);
    --menu-item-grid-div-last-edited-before: #5d7d25;
    --menu-menu-open-prop: var(--buttons-open);
    --menu-menu-input-title: var(--text);
    --menu-menu-classes-title: var(--names);

    --menu-add-section: #1e1d1d;
    --menu-add-section-font: #ffe2cc;
    --menu-add-section-hover: #191919;

    --menu-item-hover-open: var(--windows);

    --menu-items-grid: #554944;
    --menu-item-bg: var(--bg-3);
    --menu-item-bg-hover-open: var(--windows);

    --menu-item-a: var(--link);
    --menu-item-a-hover: var(--link-hover);
    --menu-item-a-none-link: var(--link-none);

    --menu-item-open-prop: var(--buttons-open);
    --menu-item-menu-prop-div: var(--names);

    --menu-menu-buttons-div: var(--buttons-font);
    --menu-menu-buttons-div-hover: var(--buttons-hover);

    --menu-item-menu-prop-target-blank-input-checkbox: #ff4e00;
    --menu-item-menu-prop-target-blank-input-checked: #ff4e00;

    --menu-input-select: var(--bg-4);
    --menu-input-select-border: var(--bg-4);
    --menu-input-select-font: var(--text);

    --menu-input-select-font-disabled: #746c6a;

    --menu-item-field-select-bg: var(--bg-4);
    --menu-item-field-select-border: var(--bg-4);
    --menu-item-field-select-font: var(--text);

    --menu-item-select-dropdown: var(--bg-3);
    --menu-item-select-dropdown-font: #d7c0b6;
    --menu-item-field-search-input-bg: #101010;
    --menu-item-field-border: var(--bg-4);
    --menu-item-field-font: var(--text);
    --menu-item-field-search-input-focus: #786050;
    --menu-item-list-search-li-hover-active: #101010;

    
    /*Modules*/
    --modules-grid-div-enabled: var(--bg-3);
    --modules-grid-div-enabled-hover: #181717;

    --modules-grid-div-disabled: #2a2828;
    --modules-grid-div-disabled-hover: #2a2828;

    --enabled-module-name: #cbb29d;
    --disabled-module-name: #6c6565;

    --module-version: #cccccc;

    --enabled-module-description: #a08c81;
    --disabled-module-description: #6c6565;

    --module-del-btn: #a08b81;

    --enabled-module-sw-btn: #d09074;
    --disabled-module-sw-btn: #89d3be;


    --search-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 489.68 489.68'%3E%3Cdefs%3E%3Cstyle%3E.a-search%7Bfill:%23d09074;%7D%3C/style%3E%3C/defs%3E%3Cpath class='a-search' d='M0,196.4C0,304.9,88,392.83,196.5,392.8A196.53,196.53,0,0,0,320.1,349l135,135A20.44,20.44,0,0,0,484,455.1l-135-135c68.29-84.31,55.3-208-29-276.3A196.42,196.42,0,0,0,196.4,0C88,0,0,87.9,0,196.4Zm40.8,0A155.6,155.6,0,1,1,196.4,352h0A155.66,155.66,0,0,1,40.8,196.4Z'/%3E%3C/svg%3E");

    --select-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23888888' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");

    --pages-pin-off: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 16.46'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%231e1d1d;%7D.b%7Bfill:none;stroke:%23b26044;stroke-miterlimit:10;stroke-width:2px;%7D%3C/style%3E%3C/defs%3E%3Cpolygon class='a' points='1 0 1 14.72 7 11.22 13 14.72 13 0 1 0'/%3E%3Cpolyline class='b' points='1 0 1 14.72 7 11.22 13 14.72 13 0'/%3E%3C/svg%3E");

    --pages-pin-on: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 16.46'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23b26044;%7D%3C/style%3E%3C/defs%3E%3Cpolygon class='a' points='14 16.46 7 12.38 0 16.46 0 0 14 0 14 16.46'/%3E%3C/svg%3E");

    --check-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");

    --eye-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 64'%3E%3Cdefs%3E%3Cstyle%3E.a-eyeonoff%7Bfill:none;%7D.b-eyeonoff%7Bfill:%23beafa2;%7D%3C/style%3E%3C/defs%3E%3Crect class='a-eyeonoff' y='32' width='32' height='32'/%3E%3Cpath class='b-eyeonoff' d='M14.11,41.28l2.07,2.07a3.54,3.54,0,0,1,3.36,3.36l2.06,2.06a5.17,5.17,0,0,0,.4-1.86,6,6,0,0,0-6-6A5.82,5.82,0,0,0,14.11,41.28Z' transform='translate(0)'/%3E%3Cpath class='b-eyeonoff' d='M16,39.63a12.91,12.91,0,0,1,11.67,7.28,12.87,12.87,0,0,1-3.52,4.4L26,53.19a15.56,15.56,0,0,0,4.54-6.27A15.69,15.69,0,0,0,16,37a15.26,15.26,0,0,0-5.26.93L12.86,40A14.41,14.41,0,0,1,16,39.63Z' transform='translate(0)'/%3E%3Cpath class='b-eyeonoff' d='M21.86,52.77,20.2,51.11l-1.68-1.68-5-5L11.79,42.7,10.13,41l-2-2L4.49,35.41,2.62,37.27,6,40.62a15.74,15.74,0,0,0-4.52,6.29A15.66,15.66,0,0,0,16,56.83a15.28,15.28,0,0,0,5.27-.93L27,61.59l1.87-1.86-5-5Zm-6-2.3A3.54,3.54,0,0,1,12.5,47.1ZM16,54.18A13,13,0,0,1,4.32,46.91,13,13,0,0,1,7.84,42.5L10.37,45A5.68,5.68,0,0,0,10,46.91a5.93,5.93,0,0,0,7.88,5.62l1.26,1.26A13.84,13.84,0,0,1,16,54.18Z' transform='translate(0)'/%3E%3Crect class='a-eyeonoff' width='32' height='32'/%3E%3Cpath class='b-eyeonoff' d='M16,9A6,6,0,1,0,22,15.05V15A6,6,0,0,0,16,9Zm0,9.53a3.58,3.58,0,1,1,3.57-3.59v0A3.57,3.57,0,0,1,16,18.48Z' transform='translate(0)'/%3E%3Cpath class='b-eyeonoff' d='M16,5A15.65,15.65,0,0,0,1.44,14.91a15.65,15.65,0,0,0,29.12,0A15.65,15.65,0,0,0,16,5Zm0,17.2A12.94,12.94,0,0,1,4.33,14.91a13,13,0,0,1,23.34,0A12.93,12.93,0,0,1,16,22.18Z' transform='translate(0)'/%3E%3C/svg%3E");

    --inter-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 31.5 31.5'%3E%3Cdefs%3E%3Cstyle%3E.a,.b%7Bfill:none;%7D.a%7Bstroke:%23d09074;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;%7D%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M404.15,357.31l6-6-6-6' transform='translate(-386.5 -335.5)'/%3E%3Cline class='a' x1='7.75' y1='15.75' x2='22.75' y2='15.75'/%3E%3Ccircle class='a' cx='15.75' cy='15.75' r='14'/%3E%3Crect class='b' width='31.5' height='31.5'/%3E%3C/svg%3E");

    --icon-close: url("data:image/svg+xml,%3Csvg version='1.1' viewBox='0 0 37.819 37.819' xmlns='http://www.w3.org/2000/svg'%3E%3Cstyle%3E.a-clear%7Bfill:none;stroke-linecap:round;stroke-width:5;stroke:%23d09074%7D%3C/style%3E%3Cg transform='translate(-32.072 -86.124)'%3E%3Cpath class='a-clear' d='m32.34 86.392 37.284 37.284'/%3E%3Cpath class='a-clear' d='m69.624 86.392-37.284 37.284'/%3E%3C/g%3E%3C/svg%3E");

    --icon-save: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 769.83 769.83'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:none;stroke:%23d09074;stroke-miterlimit:10;stroke-width:55px;%7D%3C/style%3E%3C/defs%3E%3Ccircle class='a' cx='384.91' cy='384.91' r='102.48'/%3E%3Cpath class='a' d='M750.91,258.62V687.83a63.08,63.08,0,0,1-63.08,63.08H89.17a63.08,63.08,0,0,1-63.08-63.08h0V89.17A63.08,63.08,0,0,1,89.17,26.09H518.38A98.74,98.74,0,0,1,588.17,55L722,188.83A98.74,98.74,0,0,1,750.91,258.62Z' transform='translate(-3.59 -3.59)'/%3E%3Cpath class='a' d='M464.15,26.09V129.44A46.11,46.11,0,0,1,418,175.55H187.48a46.11,46.11,0,0,1-46.11-46.11V26.09' transform='translate(-3.59 -3.59)'/%3E%3C/svg%3E");
}

