#sitemap {
    display: grid;
    height: 100%;
    overflow-y: auto;
    grid-auto-rows: max-content;
    row-gap: 1rem;
}
#sitemap form {
    display: grid;
    gap: 1rem;
}

@media (max-width: 1023px) {
    #sitemap {
        padding: 1rem 0.4rem 1rem 0.4rem;
        display: flex; /*Samsung Browser - padding-bottom*/
        flex-direction: column; /*Samsung Browser - padding-bottom*/
    }
    #sitemap form {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "xml-wrapper-hidden" 
            "xml-wrapper-link" 
            "xml-static-dynamic" 
            "xml-static-cron";
    }
}
@media (min-width: 1024px) {
    #sitemap {
        padding: 1rem;
    }
    #sitemap form {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "xml-wrapper-hidden xml-wrapper-link" 
            "xml-static-dynamic xml-static-cron";
    }
}

.xml-wrapper-hidden, .xml-wrapper-link, .xml-static-dynamic, .xml-static-cron {
    display: grid;
    grid-auto-rows: max-content;
    row-gap: 0.7rem;
    box-shadow: 0 2px 3px 0 #00000033;
    border-radius: 0.3rem;
    background-color: var(--windows);
    background-image: var(--noise);
}
.xml-wrapper-hidden div, .xml-wrapper-link div, .xml-static-dynamic div, .xml-static-cron div, .sitemap-manual div {
    color: var(--windows-font);
}

@media (max-width: 1023px) {
    .xml-wrapper-hidden, .xml-wrapper-link, .xml-static-dynamic, .xml-static-cron {
        padding: 1rem 0.7rem 1rem 0.7rem;
    }
}
@media (min-width: 1024px) {
    .xml-wrapper-hidden, .xml-wrapper-link, .xml-static-dynamic, .xml-static-cron {
        padding: 1rem;
    }
}

#sitemap textarea {
    line-height: 1.3em;
    resize: vertical;
    width: 100%;
    background-color: var(--input-bg);
    border: 2px solid var(--input-border);
    border-radius: 4px;
    font-family: var(--monospace);
    font-size: 1rem;
    color: var(--input-font);
    padding: 0 8px;
    min-height: 30px;
}

#sitemap input[type="submit"] {
    cursor: pointer;
    width: max-content;
}
#sitemap form div > input {
    border-radius: 4px;
    font-size: 0.875rem;
    padding: 0 0.54rem;
    min-height: 35px;
    width: 100%;
    color: var(--input-font);
    background-color: var(--input-bg);
    border: 2px solid var(--input-border);
}

#sitemap form div > button {
    width: fit-content;
}

#sitemap .save_2_col {
	display: grid;
}
#sitemap .save_2_col > button {
	grid-area: button;
}
#sitemap .save_2_col > div {
	grid-area: div;
}
@media (max-width: 767px) {
    #sitemap .save_2_col {
        grid-template-columns: 1fr;
        row-gap: 0.7rem;
    }
    #sitemap .save_2_col {
        grid-template-areas:
        "div"
        "button";
    }
}
@media (min-width: 768px) {
    #sitemap .save_2_col {
        grid-template-areas:
        "button div";
        grid-template-columns: auto 1fr;
        column-gap: 1rem;
    }
}


#sitemap .select-dropdown {
    position: relative;
}
#sitemap .select-dropdown ul.list-search {
    height: 0;
    background-color: var(--bg-3);
	display: grid;
	margin: 0;
    margin-top: 2px;
	padding: 0;
	overflow-y: auto;
	max-height: 17rem;
	overscroll-behavior: contain;
    position: absolute;
    width: 100%;
    border-radius: 4px;
}
#sitemap .select-dropdown.open ul.list-search {
    height: auto;
    border: 2px solid var(--bg-4);
}
#sitemap .select-dropdown .list-search li {
	display: block;
	list-style-type: none;
	padding: 0.4rem 0.44rem;
	cursor: pointer;
	font-size: 0.94rem;
	text-align: left;
}
#sitemap .select-dropdown .list-search li:hover {
	background-color: var(--menu-item-list-search-li-hover-active);
}

#sitemap .xml-static-dynamic input[type="text"] {
    color: var(--input-font);
}
.xml-static-dynamic label input[type="radio"] {
    cursor: pointer;
    display: inline-block;
    margin-right: 0.3rem;
    border-radius: 50%;
    width: 0.73rem;
    height: 0.73rem;
    background-color: var(--bg-4);
    transform: translate(0, 0);
    appearance: none;
}
.xml-static-dynamic label input:checked {
    background-color: var(--orange);
    border-color: var(--orange);
    box-shadow: 0 0 0 0.25rem var(--focus-orange);
}

.xml-static-dynamic label {
    cursor: pointer;
    line-height: 1.1em;
    font-size: 1rem;
    color: var(--link);
    user-select: none;
}

.xml-static-cron p {
    font-size: 1rem;
    color: var(--text);
}
.xml-static-cron input[type="text"] {
    max-width: 70px;
    border-radius: 4px;
    font-size: 0.875rem;
    padding: 0 0.54rem;
    min-height: 35px;
    background-color: var(--input-bg);
    border: 2px solid var(--input-border);
    color: var(--input-font);
    text-align: center;
}
.sitemap {
    grid-auto-rows: max-content;
    box-shadow: 0 2px 3px 0 rgb(0 0 0 / 20%);
    border-radius: 0.3rem;
    background-color: var(--windows);
    background-image: var(--noise);
    color: var(--text);
}
@media (max-width: 1023px) {
    .sitemap {
        padding: 1rem 0.7rem 1rem 0.7rem;
    }
}
@media (min-width: 1024px) {
    .sitemap {
        padding: 1rem;
    }
}
.sitemap a {
    color: var(--link);
    text-decoration: none;
    border-bottom: 1px solid;
}

.sitemap-manual {
    display: grid;
    grid-auto-rows: max-content;
    gap: 1rem;
    box-shadow: 0 2px 3px 0 rgb(0 0 0 / 20%);
    border-radius: 0.3rem;
    background-color: var(--windows);
    background-image: var(--noise);
}

.sitemap-manual p {
    font-size: 1rem;
    color: var(--text);
}

@media (max-width: 1023px) {
    .sitemap-manual {
        padding: 1rem 0.7rem 1rem 0.7rem;
    }
}
@media (min-width: 1024px) {
    .sitemap-manual {
        padding: 1rem;
    }
}